body {
    margin: 0;
    border: 0px solid #ccc;
    /* background-image: url("karte.jpg");
    /* Setzt ein Hintergrundbild */
}

#mainContainer {
    position: relative;
    top: 20px;
    width: 80%;
    margin: 0 auto;
}

#canvas1,
#canvas2 {
    position: absolute;
    display: block;
    border: 1px solid #000000;
    left: 0;

}

#canvas1 {
    background-color: #f0f0f0;
    /* Setzt die Hintergrundfarbe des ersten Canvas auf hellgrau */
}

#canvas2 {
    top: 470px;
    background-color: #fafafa;
    /* Setzt die Hintergrundfarbe des zweiten Canvas auf sehr helles Grau */
}

#distanceTable {
    margin-left: 800px;
    align-self: start;
}


input[id="inputf"] {
    font-size: 18px;
    margin-left: -10px;
    align-self: start;
    width: 340px;
    text-align: center;
    padding: 6px;
}

/*Eingaben Formatierung*/
.input-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#start {
    position: relative;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 13px;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#resetButton {
    position: relative;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#expectedStateButton {
    position: relative;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    left: -220px;
    top: 45px;

}


#rndnodes {
    position: relative;
    background-color: #4CAF50;
    /* Setzt die Hintergrundfarbe auf grün */
    color: white;
    /* Setzt die Textfarbe auf weiß */
    padding: 8px 13px;
    /* Setzt das Padding um den Text */
    text-align: center;
    /* Zentriert den Text */
    text-decoration: none;
    /* Entfernt die Unterstreichung */

    /* Macht den Button zu einem inline-block Element */
    font-size: 16px;
    /* Setzt die Schriftgröße */
    border: none;
    /* Setzt den Rand um den Button */
    cursor: pointer;
    /* Ändert den Cursor zu einem Zeiger, wenn er über den Button fährt */
    left: -220px;
    top: 45px;
}

#nodeCount {
    position: relative;
    top: -65px;
    margin-left: 980px;
    font-size: 14px;
    color: #333;
    padding: 4px;
}

label {
    position: relative;
    font-size: 18px;
    top: -43px;
    margin-left: 860px;
    color: #333;
    padding: 5px;
}

#outer {
    position: relative;
    width: 100%;
    left: 1050px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#outer button,
#outer select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

td,
th {
    border: 1px solid #ddd;
    /* Fügt einen dünnen Rand um jede Zelle hinzu */
    padding: 8px;
    /* Fügt Polsterung innerhalb der Zellen hinzu */
}

th {
    background-color: #f2f2f2;
    /* Hintergrundfarbe für Kopfzeilen */
    text-align: left;
    /* Ausrichtung des Textes in Kopfzeilen */
}

input[id^="Element"] {
    width: 55px;
}


/* ^gillt dann für alle Felder PQ */
input[id^="priorityQueue"] {
    width: 340px;
}

h3 {
    text-align: center;
}

.center-text {
    text-align: center;
}

/* Tabs*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    padding: 20px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px 12px;
    border: none #ccc;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}